div.custom-content h2 {
    font-size: 28px;
    font-weight: bold;
}

.custom-content {
    font-size: 14px;
}

.custom-content pre {
    background-color: #18181b;
    color: #f4f4f5;
    padding: 1rem;
    font-family: monospace;
    font-size: 0.875rem;
    overflow: auto;
    border-radius: 0;
}
