@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  :root {
    --background: 216 33.3333% 97.0588%;
    --foreground: 224 36.5854% 16.0784%;
    --card: 212 36.5854% 91.9608%;
    --card-foreground: 224 36.5854% 16.0784%;
    --popover: 50.4 100% 95.098%;
    --popover-foreground: 224 36.5854% 16.0784%;
    --primary: 220.5882 46.789% 42.7451%;
    --primary-foreground: 50.4 100% 95.098%;
    --secondary: 38.6364 89.1892% 70.9804%;
    --secondary-foreground: 224 36.5854% 16.0784%;
    --muted: 60 10.3448% 88.6275%;
    --muted-foreground: 220.5882 46.789% 42.7451%;
    --accent: 201.6867 40.0966% 59.4118%;
    --accent-foreground: 50.4 100% 95.098%;
    --destructive: 292.9412 22.0779% 15.098%;
    --destructive-foreground: 50.4 100% 95.098%;
    --border: 211.7647 12.0567% 72.3529%;
    --input: 201.6867 40.0966% 59.4118%;
    --ring: 38.6364 89.1892% 70.9804%;
    --chart-1: 220.5882 46.789% 42.7451%;
    --chart-2: 38.6364 89.1892% 70.9804%;
    --chart-3: 201.6867 40.0966% 59.4118%;
    --chart-4: 211.7647 12.0567% 72.3529%;
    --chart-5: 292.9412 22.0779% 15.098%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 20% 11.7647%;
    --foreground: 221.5385 35.1351% 92.7451%;
    --card: 237.3913 24.7312% 18.2353%;
    --card-foreground: 221.5385 35.1351% 92.7451%;
    --popover: 237.3913 24.7312% 18.2353%;
    --popover-foreground: 47.8431 100% 70%;
    --primary: 220.5882 46.789% 42.7451%;
    --primary-foreground: 47.8431 100% 70%;
    --secondary: 47.8431 100% 70%;
    --secondary-foreground: 237.3913 24.7312% 18.2353%;
    --muted: 236.6667 23.6842% 14.902%;
    --muted-foreground: 218.4615 17.1806% 55.4902%;
    --accent: 220.3846 63.4146% 83.9216%;
    --accent-foreground: 230 20% 11.7647%;
    --destructive: 336.2791 36.7521% 45.8824%;
    --destructive-foreground: 47.8431 100% 70%;
    --border: 236.4706 15.8879% 20.9804%;
    --input: 220.5882 46.789% 42.7451%;
    --ring: 47.8431 100% 70%;
    --chart-1: 220.5882 46.789% 42.7451%;
    --chart-2: 47.8431 100% 70%;
    --chart-3: 201.6867 40.0966% 59.4118%;
    --chart-4: 218.4615 17.1806% 55.4902%;
    --chart-5: 336.2791 36.7521% 45.8824%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
